#single-spa-application\:app2 {
	background-color: lightgreen;
	max-width: fit-content;
	margin: auto;

}

.action {
	display: grid;
	place-items: center;
	grid-auto-flow: column;
	grid-gap: 1em;
	padding: 0.5em;
}